
#board {
    margin-left: 5px;
    margin-right: 5px;
}
  
#board td{
    width: 25px;
    height: 25px;
    outline: 1px solid black;
}

#board td.startPoint {
    outline: 1px solid black;
    background-color: red;
}

#board td.endPoint {
    outline: 1px solid black;
    background-color: green;
}

#board td.open {
    outline: 1px solid black;
    background-color: blue;
}

#board td.path {
    outline: 1px solid black;
    background-color: yellow;
}
  

#mainGrid{
    position: absolute;
    z-index: 1;
}